//Main background
$bg-color:#2C1338;
//Text color
$text-color:#ffffff;
//Main bg color for btn
$bg-button: #E57BD8;
//Bg for form
$bg-form:#412A4C;
//Calendar
$calendar-title-color:$bg-button;
//Calendar arrow colors'
$calendar-arrows-color:#848A95;
//Circle calendar color 
$calendar-circle-color:#EDEFF1;
//One day streak color circle calendar
$calendar-circle-one-color:#E2C5E7;


